<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ app.description }}">
    <meta name="author" content="{{ app.author }}">

    <title>{{ app.name }}{% if self.title() %} - {% endif %} {% block title %}{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.min.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="/static/vendor/css/roboto-material-icons.css"    rel="stylesheet">
    <link href="/static/vendor/css/vuetify.min.css"              rel="stylesheet">
    <link href="/static/vendor/css/vfg.css"                      rel="stylesheet">
    <link href="/static/vendor/css/vue-multiselect.min.css"      rel="stylesheet">
    <link href="/static/vendor/css/bootstrap-datetimepicker.css" rel="stylesheet">
    
    <link href="/static/main.css"             rel="stylesheet">

    <link href="/static/master/dashboard.css" rel="stylesheet">
    <link href="/static/master/client.css"    rel="stylesheet">

    {% block moreCSS %}{% endblock %}
  </head>

  <body>
    <v-app id="app">
      <v-toolbar color="blue darken-3" dark app clipped-left fixed>
        <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
          {% if not without_sections %}
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          {% endif %}
          <span class="hidden-xs-only">{{ app.name }}</span>
        </v-toolbar-title>
      </v-toolbar>

      {% if not without_sections %}
      <v-navigation-drawer fixed clipped app v-model="drawer">
        <v-list dense>
          <template v-for="(item, i) in sections">
            <v-list-tile :to="item.path">
              <v-list-tile-action>
                <v-icon>${ item.icon }</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>${ item.text }</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      {% endif %}

      <v-content>
        <div class="content-wrapper">
          <router-view></router-view>
          <notifications group="notifications" position="bottom right"/>
        </div>
      </v-content>
    </v-app>

    <script src="/static/vendor/vue.js"></script>
    <script src="/static/vendor/vuetify.js"></script>
    <script src="/static/vendor/vuex.js"></script>
    <script src="/static/vendor/vue-router.js"></script>
    <script>
      Vue.use(VueRouter);
    </script>

    <script type="text/javascript">
      window.vue = window.Vue; // quick fix for vue-notification
    </script>
    <script src="/static/vendor/vue-notification.js"></script>
    <script>
      window.vueNotification = window["vue-notification"].default;
      Vue.use(vueNotification);
    </script>

    <script src="/static/vendor/vue-form-generator.min.js"></script>
    <script>
      Vue.use(VueFormGenerator);
    </script>

    <script src="/static/vendor/vue-multiselect.min.js"></script>
    <script>
      Vue.component('Multiselect', VueMultiselect.Multiselect);
    </script>

    <script src="/static/vendor/Chart.min.js"></script>
    <script src="/static/vendor/vue-chartjs.min.js"></script>

    <script src="/static/vendor/jquery.min.js"></script>

    <script src="/static/vendor/bootstrap.min.js"></script>
    <script src="/static/vendor/moment.min.js"></script>
    <script src="/static/vendor/bootstrap-datetimepicker.min.js"></script>
    
    <script src="/static/vendor/paho-mqtt.js"></script>

    <script src="/static/comm.js"></script>

    <script src="/static/master/common.js"></script>
    <script src="/static/master/dashboard.js"></script>
    <script src="/static/master/client.js"></script>
    <script src="/static/master/user.js"></script>
    <script src="/static/master/log.js"></script>

    <script src="/static/main.js"></script>

    <script src="/static/master/setup.js"></script>

    <script src="/static/router.js"></script>

    {% for service in services %}
    <script src="/app/{{ service }}.js"></script>
    {% endfor %}

  </body>
</html>
