{% extends "main.html" %}
{% block title %}Dashboard{% endblock %}
{% block moreCSS %}<link href="/app/dashboard.css" rel="stylesheet">{% endblock %}
{% block moreJS %}<script src="/app/dashboard.js"></script>{% endblock %}

{% block content %}

<h2>Welcome {{ user.name }}...</h2>

<div id="status" class="status"></div>

${ message }

<template>
  <v-layout column>
    <v-flex xs12>
      <v-container fluid grid-list-md class="grey lighten-4">
        <v-layout row wrap>
          <v-flex v-bind="{ [`xs${card.flex}`]: true }" v-for="card in cards" :key="card.title">
            <v-card>
              <v-card-title>
                <div>
                  <h3 class="headline mb-0">${ card.title }</h3>
                </div>
              </v-card-title>
              <v-card-text>
                <div style="width: 100%;">
                  <line-chart :chart-data="card.datacollection" height="200px"></line-chart>
                </div>
              </v-card-text>
              <v-card-actions class="white">
                <v-spacer></v-spacer>
                <v-btn icon @click="updateChart(card)">
                  <v-icon>refresh</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
  </v-layout>
</template>



{% endblock %}
