<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ app.description }}">
    <meta name="author" content="{{ app.author }}">

    <title>{{ app.name }}{% if self.title() %} - {% endif %} {% block title %}{% endblock %}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://unpkg.com/vue-form-generator@2.1.0/dist/vfg.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">

    {% block moreCSS %}{% endblock %}
  </head>

  <body>
    <v-app id="app">
      <v-toolbar color="blue darken-3" dark app clipped-left fixed>
        <v-toolbar-title :style="$vuetify.breakpoint.smAndUp ? 'width: 300px; min-width: 250px' : 'min-width: 72px'" class="ml-0 pl-3">
          {% if not without_sections %}
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
          {% endif %}
          <span class="hidden-xs-only">baseAdmin</span>
        </v-toolbar-title>
      </v-toolbar>

      {% if not without_sections %}
      <v-navigation-drawer fixed clipped app v-model="drawer">
        <v-list dense>
          <template v-for="(item, i) in sections">
            <v-list-tile :to="item.path">
              <v-list-tile-action>
                <v-icon>${ item.icon }</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>${ item.text }</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>
      {% endif %}

      <v-content>
        <div class="content-wrapper">
          <router-view></router-view>
          <notifications group="notifications" position="bottom right"/>
        </div>
      </v-content>
    </v-app>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script>
      Vue.use(VueRouter);
    </script>

    <script type="text/javascript">
      window.vue = window.Vue; // quick fix for vue-notification
    </script>
    <script type="text/javascript" src="https://unpkg.com/vue-notification"></script>
    <script type="text/javascript">
      window.vueNotification = window["vue-notification"].default;
      Vue.use(vueNotification);
    </script>

    <script src="https://unpkg.com/vue-form-generator@2.1.1"></script>
    <script>
      Vue.use(VueFormGenerator);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/vendor/jquery.min.js"><\/script>')</script>

    <script src="/static/vendor/moment.min.js"></script>
    
    <script src="https://unpkg.com/paho-mqtt@1.0.4/paho-mqtt.js"></script>
    <script src="/static/comm.js"></script>

    <script src="/static/dashboard.js"></script>
    <link href="/static/dashboard.css" rel="stylesheet">

    <script src="/static/client.js"></script>
    <link href="/static/client.css" rel="stylesheet">

    <script src="/static/user.js"></script>
    <script src="/static/setup.js"></script>

    <script src="/static/main.js"></script>

    {% for service in services %}
    <script src="/app/{{ service }}.js"></script>
    {% endfor %}

  </body>
</html>
